# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT = 3000
DATABASE_URL=postgresql://usernmae:password@localhost:5432/dbhere
ACCESS_TOKEN_SECRET = 2689CA8FCBFBA61B
REFRESH_TOKEN_SECRET= CE94636338257CE66829C23DCD7E7